.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  background-color: white; 
  border-radius: 20px;
}
.sign-button {

  align-self: center;
  background-color: #007bff;
  color: white;
  border: 2px solid #007bff;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  min-width: 200px;
  animation: fadeIn 1s ease forwards;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sign-button:hover {
  background-color: #0056b3;
}

.signed-message {
  margin-top: 20px;
  font-weight: bold;
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word; /* Wrap on overflow */
  max-width: 100%; /* Limit width to container */
  text-align: left; /* Align text to the left */
  animation: fadeIn 1s ease forwards;
}
.response-message {
  font-weight: bold;
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word; /* Wrap on overflow */
  max-width: 100%; /* Limit width to container */
  text-align: left; 
  animation: fadeIn 1s ease forwards;
}

.link1 {
margin-top: 30px;
}

.response-container {
  margin-top: px;
}

.response-container p {
  margin-bottom: 10px;
}

.response-container a {
  color: #007bff;
  text-decoration: none;
}

.response-container a:hover {
  text-decoration: underline;
}
